h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    letter-spacing: 1.2em;
    text-decoration: underline 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px gray;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.text-skyblue{
    color: skyblue;
}
.text-pink{
    color: rgb(255, 192, 203);
}